<section class="w-full p-5 flex flex-col gap-5">
  <!-- Navigate Back 🚩 -->
  <button
    class="cursor-pointer flex items-center gap-2 hover:text-gray-500 duration-200"
    (click)="navigateBack()"
  >
    <lucide-icon [name]="LeftIcon" size="17"></lucide-icon>
    <span class="text-sm font-medium">Go back</span>
  </button>
  @if(loading()){
  <app-loader />
  } @else {

  <!-- Main Content 🚩 -->
  <div class="w-full h-[560px] flex items-start justify-between gap-5">
    <!-- Left Content 🚩 -->
    <div
      class="w-[40%] h-full rounded-xl bg-white dark:bg-primary-dark shadow p-5 flex flex-col gap-5"
    >
      <h1 class="text-xl font-medium">Details</h1>
      <div class="w-full flex items-start gap-2">
        <div
          class="w-1/2 h-40 bg-gray-200 rounded-lg mb-4 flex items-center justify-center relative overflow-hidden"
        >
          @if(getCurrentImageSrc()){
          <img
            [src]="getCurrentImageSrc()"
            alt="coach image"
            class="w-full h-full rounded-lg object-cover"
          />
          }@else {
          <lucide-icon [name]="ImageIcon" size="50" color="gray"></lucide-icon>
          }
          <!-- Overlay to show it's a preview -->
          @if(selectedImagePreview()){
          <div
            class="absolute top-2 right-2 bg-green-500 text-white text-xs px-2 py-1 rounded"
          >
            Preview
          </div>
          }
        </div>
        <input
          id="upload-image"
          type="file"
          class="hidden"
          accept="image/*"
          (change)="onFileSelected($event)"
        />
        <label
          for="upload-image"
          class="w-8 h-8 bg-primary-main text-white py-1.5 px-3 rounded-full cursor-pointer text-xs font-medium flex items-center justify-center hover:bg-primary-main/80 transition-colors"
        >
          <lucide-icon
            [name]="UploadIcon"
            size="15"
            color="white"
          ></lucide-icon>
        </label>
      </div>
      <div class="w-full flex items-start justify-between">
        <div class="flex flex-col gap-7">
          <span class="text-base font-medium">Full Name</span>
          <span class="text-base font-medium">Phone Number</span>
          <span class="text-base font-medium">Salary</span>
          <span class="text-base font-medium">Created At</span>
          <span class="text-base font-medium">Updated At</span>
        </div>
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="flex flex-col gap-4"
        >
          <input
            pSize="small"
            pInputText
            id="fullName"
            placeholder="John Doe"
            class="bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
            formControlName="fullName"
          />
          <p-inputmask
            mask="(99)-999-99-99"
            placeholder="(99)-999-99-99"
            size="small"
            styleClass="w-full bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
            formControlName="phoneNumber"
          />
          <p-inputnumber
            size="small"
            inputId="integeronly"
            placeholder="13"
            inputStyleClass="bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
            formControlName="salary"
          />
          <span class="text-sm text-gray-500 font-medium my-3">{{
            coachData()?.createdAt | date
          }}</span>
          <span class="text-sm text-gray-500 font-medium">{{
            coachData()?.updatedAt | date
          }}</span>
          <div class="w-full flex items-center gap-3 pt-2">
            <button
              size="small"
              type="submit"
              [disabled]="form.invalid || updating()"
              pButton
              class="dark:text-white text-sm font-medium w-20 self-end disabled:opacity-50 disabled:cursor-not-allowed"
            >
              <span pButtonLabel>{{ updating() ? "Saving..." : "Save" }}</span>
            </button>
            <button
              (click)="onDelete()"
              size="small"
              type="button"
              pButton
              class="dark:text-white bg-red-500 border border-red-500 hover:bg-red-400 text-sm font-medium w-20 self-end disabled:opacity-50 disabled:cursor-not-allowed"
            >
              <span pButtonLabel>{{
                deleting() ? "Deleting..." : "Delete"
              }}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Right Content 🚩 -->
    <div
      class="w-[60%] h-full rounded-xl bg-white dark:bg-primary-dark shadow p-5 flex flex-col gap-5"
    >
      <h1 class="text-xl font-medium">Students</h1>
      <p-table
        #dt
        [value]="coachData()?.students || []"
        [paginator]="true"
        [paginatorStyleClass]="'dark:bg-primary-dark'"
        [styleClass]="'shadow-none rounded-lg'"
        [rows]="6"
        [responsiveLayout]="'scroll'"
      >
        <ng-template pTemplate="header">
          <tr>
            @for(col of columns; track col.id) {
            <th
              [ngClass]="{
                'rounded-tl-lg': col.id === 1,
                'dark:bg-primary-dark dark:text-gray-400': true
              }"
            >
              {{ col.header }}
            </th>
            }
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
          <tr>
            @for(col of columns; track col.id) { @if(col.field === 'startDate')
            {
            <td class="dark:bg-primary-dark">
              {{ rowData[col.field].slice(0, 10) }}
            </td>
            } @else {
            <td class="dark:bg-primary-dark">
              {{ rowData[col.field] }}
            </td>
            } }
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  }
</section>
