<app-modal [(visible)]="visible" header="Add coach">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="w-full flex flex-col gap-5"
  >
    <div class="flex flex-col gap-2">
      <label for="fullName">Full Name</label>
      <input
        pSize="small"
        pInputText
        id="fullName"
        placeholder="John Doe"
        class="bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
        formControlName="fullName"
      />
      @if (form.get('fullName')?.touched && form.get('fullName')?.invalid) {
      <span class="text-sm text-red-500">
        @if (fullName?.errors?.['required']) { Full Name is required. }
      </span>
      }
    </div>
    <div class="flex flex-col gap-2">
      <label for="phoneNumber">Phone Number</label>
      <p-inputmask
        mask="(99)-999-99-99"
        placeholder="(99)-999-99-99"
        size="small"
        styleClass="w-full dark:bg-neutral-800 dark:text-white border-none"
        formControlName="phoneNumber"
      />
      @if (form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid)
      {
      <span class="text-sm text-red-500">
        @if (phoneNumber?.errors?.['required']) { Phone Number is required. }
      </span>
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="salary">Salary ($)</label>
      <p-inputnumber
        size="small"
        inputId="integeronly"
        placeholder="13"
        inputStyleClass="bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
        formControlName="salary"
      />
      @if (form.get('salary')?.touched && form.get('salary')?.invalid) {
      <span class="text-sm text-red-500">
        @if (salary?.errors?.['required']) { Salary is required. }
      </span>
      }
    </div>
    <button
      type="submit"
      [disabled]="form.invalid || loading()"
      pButton
      class="dark:text-white text-sm font-medium"
    >
      <span pButtonLabel>{{ loading() ? "Adding..." : "Add" }}</span>
    </button>
  </form>
</app-modal>
