<p-dialog
  header="Update plan"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  (onHide)="form.reset(); visible.set(false)"
  styleClass="dark:bg-neutral-800/50 dark:backdrop-blur-md"
>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="w-full flex flex-col gap-5"
  >
    <div class="flex flex-col gap-2">
      <label for="name">Name</label>
      <input
        pSize="small"
        pInputText
        id="name"
        placeholder="Premium"
        class="dark:bg-neutral-800 dark:text-white border-none"
        formControlName="name"
      />
      @if (form.get('name')?.touched && form.get('name')?.invalid) {
      <span class="text-sm text-red-500">
        @if (name?.errors?.['required']) { Name is required. }
      </span>
      }
    </div>
    <div class="flex flex-col gap-2">
      <label for="duration">Duration</label>
      <p-select
        size="small"
        [options]="durations()"
        optionLabel="name"
        optionValue="code"
        placeholder="Select a duration"
        appendTo="body"
        class="dark:bg-neutral-800 dark:text-white border-none"
        formControlName="duration"
      ></p-select>

      @if (form.get('duration')?.touched && form.get('duration')?.invalid) {
      <span class="text-sm text-red-500">
        @if (durationControl?.errors?.['required']) { Duration is required. }
      </span>
      }
    </div>
    <div class="flex flex-col gap-2">
      <label for="price">Price</label>
      <p-inputnumber
        size="small"
        inputId="integeronly"
        placeholder="13"
        inputStyleClass="dark:bg-neutral-800 dark:text-white border-none"
        formControlName="price"
      />
      @if (form.get('price')?.touched && form.get('price')?.invalid) {
      <span class="text-sm text-red-500">
        @if (price?.errors?.['required']) { Price is required. }
      </span>
      }
    </div>
    <button
      type="submit"
      [disabled]="form.invalid || loading()"
      pButton
      class="dark:text-white text-sm font-medium"
    >
      <span pButtonLabel>{{ loading() ? "Saving..." : "Save" }}</span>
    </button>
  </form>
</p-dialog>
