<app-modal [(visible)]="visible" [width]="'30rem'" header="Update member">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="w-full flex flex-col gap-5"
  >
    <div class="flex flex-col gap-2">
      <label for="fullName">Full Name</label>
      <input
        pSize="small"
        pInputText
        id="fullName"
        placeholder="John Doe"
        class="bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
        formControlName="fullName"
      />
      @if (form.get('fullName')?.touched && form.get('fullName')?.invalid) {
      <span class="text-sm text-red-500">
        @if (fullName?.errors?.['required']) { Full Name is required. }
      </span>
      }
    </div>
    <div class="flex flex-col gap-2">
      <label for="phoneNumber">Phone Number</label>
      <p-inputmask
        mask="(99)-999-99-99"
        placeholder="(99)-999-99-99"
        size="small"
        styleClass="w-full bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
        formControlName="phoneNumber"
      />
      @if (form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid)
      {
      <span class="text-sm text-red-500">
        @if (phoneNumber?.errors?.['required']) { Phone Number is required. }
      </span>
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="salary">Start Date</label>
      <p-datepicker
        size="small"
        formControlName="startDate"
        appendTo="body"
        styleClass="w-full bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
      ></p-datepicker>
      @if (form.get('startDate')?.touched && form.get('startDate')?.invalid) {
      <span class="text-sm text-red-500">
        @if (startDate?.errors?.['required']) { Start date is required. }
      </span>
      }
    </div>
    <div class="flex flex-col gap-2">
      <label for="salary">Coach</label>
      <p-select
        [options]="coaches()"
        [checkmark]="true"
        optionLabel="name"
        optionValue="code"
        [showClear]="false"
        placeholder="Select a Coach"
        class="w-full bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
        appendTo="body"
        formControlName="coachId"
      />
      @if (form.get('coachId')?.touched && form.get('coachId')?.invalid) {
      <span class="text-sm text-red-500">
        @if (coachId?.errors?.['required']) { Coach is required. }
      </span>
      }
    </div>
    <div class="flex flex-col gap-2">
      <label for="salary">Plan</label>
      <p-select
        [options]="plans()"
        [checkmark]="true"
        optionLabel="name"
        optionValue="code"
        [showClear]="false"
        placeholder="Select a Plan"
        class="w-full bg-gray-50 dark:bg-neutral-800 dark:text-white border-none"
        appendTo="body"
        formControlName="planId"
      />
      @if (form.get('planId')?.touched && form.get('planId')?.invalid) {
      <span class="text-sm text-red-500">
        @if (planId?.errors?.['required']) { Plan is required. }
      </span>
      }
    </div>
    <button
      type="submit"
      [disabled]="form.invalid || loading()"
      pButton
      class="dark:text-white text-sm font-medium"
    >
      <span pButtonLabel>{{ loading() ? "Saving..." : "Save" }}</span>
    </button>
  </form>
</app-modal>
