<section class="w-full p-5 flex flex-col gap-5">
  <div class="w-full flex items-center justify-between mb-2">
    <h1 class="text-2xl font-semibold">Members</h1>
    <button
      (click)="showAddDialog()"
      pButton
      class="dark:text-white text-sm font-medium"
    >
      <lucide-icon
        [img]="PlusIcon"
        [size]="20"
        color="white"
        class="my-icon"
      ></lucide-icon>
      <span pButtonLabel>Add member</span>
    </button>
  </div>

  @if(isInitialLoading) { <app-loader />
  } @else {
  <div class="w-full flex items-center justify-between">
    <div class="flex items-center gap-2">
      <p-select
        [options]="statusOptions"
        [(ngModel)]="status"
        optionLabel="name"
        optionValue="code"
        placeholder="Select a status"
        class="w-full md:w-44 dark:bg-neutral-800"
        size="small"
      />
      <p-select
        [options]="coaches()"
        [(ngModel)]="coach"
        optionLabel="name"
        optionValue="code"
        placeholder="Select a coach"
        class="w-full md:w-44 dark:bg-neutral-800"
        size="small"
      />
      <p-select
        [options]="plans()"
        [(ngModel)]="plan"
        optionLabel="name"
        optionValue="code"
        placeholder="Select a plan"
        class="w-full md:w-44 dark:bg-neutral-800"
        size="small"
      />
    </div>
    <p-iconfield
      iconPosition="left"
      class="ml-auto flex items-center rounded-md pl-2 p-1.5 gap-2 border-[0.5px] border-[#CBD5E1] dark:border-[#52525B] bg-white dark:bg-neutral-800"
    >
      <lucide-icon
        [img]="SearchIcon"
        [size]="18"
        color="gray"
        class="my-icon"
      ></lucide-icon>
      <input
        pInputText
        type="text"
        placeholder="Search..."
        class="border-none focus:outline-none rounded-r-md placeholder:text-gray-400 text-sm font-medium"
        (input)="onSearchInput($event)"
        [value]="search()"
        [disabled]="isSearchLoading"
      />
    </p-iconfield>
  </div>

  <app-table
    [columns]="columns"
    [data]="membersService.members()"
    [rows]="perPage()"
    [hasDetailPage]="false"
    (rowButtonClick)="handleRowClick($event)"
  />

  <app-pagination
    [totalPages]="membersService.members().meta.total_pages"
    [perPage]="perPage()"
    [(page)]="page"
  />

  }

  <!-- Modals -->
  <app-add-member [(visible)]="addDialogVisible" />
  <app-delete-member [(visible)]="deleteDialogVisible" [id]="selectedId()" />
  <app-update-member [(visible)]="updateDialogVisible" [id]="selectedId()" />
</section>
